.card {
   padding: 24px;
   background: #f6f6f6;
   width: 320px;
   margin: 40px auto;
}

button {
   background-color: #fba722;
   border-radius: 99px;
   box-shadow: 0 16px rgba(247, 126, 20, 0.3);
   padding: 14px 32px;
}

.box1 {
  background-color: green;
}

.box2 {
  background-color: yellow;
}

.box3 {
  background-color: red;
}